@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.main{
    width: 400px;
    background-color: black;
    margin: auto;
    margin-top: 80px;
    
}
#view{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 2px solid white;
    color: white;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.button{
    text-align: center;
    border: 1px solid white;
    line-height: 80px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.button:hover{
    background-color: grey;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}
